.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 100px;
    background: #168AAD;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    font-size: 36px;
}